aside div.radioOptions {
    color: #acacac;
    font-size: 14px;
    margin-top: 25px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

} 

aside .radioGroup {
    display: flex;
    flex-direction: row;
}